header {
    height: 80px;
    background-color: #b52c0a;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Container e Form */
.main-container {
    display: flex;
    justify-content: center;
}

.container {
    padding: 15px;
    border-radius: 10px;
    width: 800px;
    border: 5px solid #c4e201;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

label,
.tag-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.input-field,
.select-field,
.textarea-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.input-field.error {
    border: 2px solid red;
    outline: none;
}

/* Checkbox container */
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.tag-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    transform: scale(1.5);
    margin: 7px;
}

.publish-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.my-button {
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s ease;
    padding: 10px 25px;
    border-radius: 30px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.my-button:hover {
    background: #c4e201;
    border: 1px solid #b5d900;
}

.my-button svg {
    width: 24px;
    transition: transform 0.3s ease-in-out;
}

.my-button:active {
    transform: scale(0.95);
}

/* Blog List */
.lista-dei-blog {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    margin: 30px;
}

.blog-list-container {
    padding: 10px 150px;
}

.blog-list {
    list-style-type: none;
    padding: 0;
}

.blog-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    gap: 15px;
}

.title-image-container {
    width: 450px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.blog-info-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 20px;
    padding: 0;
    font-size: 20px;
}

.blog-image {
    width: 300px;
    border-radius: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.blog-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.tag-block {
    display: inline-block;
    color: #333;
    background-color: #cfef00;
    margin-right: 8px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 12px;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.tag-block:hover {
    background-color: #b5d900;
    transform: translateY(-2px);
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.errors-text {
    color: #d9534f;
    font-weight: 600;
    margin-top: 5px;
    font-style: italic;
    padding: 5px;
    border: 1px solid #d9534f;
    border-radius: 4px;
    background-color: #f2dede;
}

#trash-icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #cf330f;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, opacity 0.2s ease,
        background-color 0.3s ease;
}

#trash-icon:hover {
    opacity: 0.9;
    transform: scale(1.1);
    background-color: #b52c0a;
}

#trash-icon:active {
    transform: scale(0.95);
}
